<html lang ="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lucifer Morningstar, created as Samael and also known as the Lightbringer, is the titular protagonist of the TV Series, Lucifer. He is an Archangel and the younger identical twin brother of Michael. Following a failed rebellion against his Father, Lucifer was banished from Heaven and forced to oversee the torture of damned Human souls for eons as the Ruler of Hell. During his time as the King of Hell, Lucifer tempted Eve in the Garden of Eden, leading to Eve and her husband Adam being banished to live on Earth for the rest of their lives. After some visits to Earth, He would reunite with his old friend, Lilith in 1946 to help her find her ring. Lucifer was ultimately gifted the ring, along with Lilith's Immortality. Widely known as the Devil or Satan by Humans, Lucifer is blamed for the sins of mankind.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    </body>
</html>